/* Styles for the container */
.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: #CDE8E5;
	gap: 0px;
	background-image: url('../../assets/clinic.png');
	padding: 1px;
}

.HomeBtnContainer {
	width: 100%;
	height: 25%;
}

.sign-in-form {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 75%;
	height: 100%;
	gap: 0px;
	margin: auto;
}

/* Styles for the sign-in container */
.sign-in-container,
.sign-up-container {
	width: 50%;
	height: 80%;
	padding: 30px;
	background-color: rgba(236, 236, 236, 0.5);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.sign-up-container {
	background-color: rgba(110, 181, 202, 0.5);
}

/* Font styles */
.sign-in-container h2,
.sign-up-container h2 {
	font-family: sans-serif;
	font-size: xx-large;
	margin-bottom: 15px;
}

.sign-up-container p,
.sign-in-container input {
	font-family: sans-serif;
}
.sign-up-container h2 {
	color: white;
}

.sign-up-container p {
	color: white;
	margin-bottom: 30px;
	margin-top: 33px;
	font-size: large;
}

.sign-in-container a {
	color: #333;
	font-size: small;
	text-decoration: none;
	margin-top: 5px;
	margin-bottom: 15px;
}

/* Input and button styles */
.sign-in-container input,
.sign-up-container button {
	width: 100%;
	padding: 10px;
	margin: 10px 0;
	border: none;
	border-radius: 5px;
	box-sizing: border-box;
}

.sign-in-container input {
	background-color: #f2f2f2;
}

.sign-in-container button,
.sign-up-container button {
	background-color: #4D869C;
	color: white;
	cursor: pointer;
	border: 1px solid white;
	border-radius: 20px;
	width: 90%;
}

.sign-in-container button:hover,
.sign-up-container button:hover {
	background-color: #7AB2B2;
}

/* Responsive Styles */

/* For screens less than or equal to 768px */
@media (max-width: 768px) {
	.sign-in-form {
		flex-direction: column; /* Set the login and signup forms in column layout on small screens */
		width: 100%;
	}

	.sign-in-container,
	.sign-up-container {
		width: 90%; /* Make containers wider for better display on small screens */
		height: auto;
		padding: 20px;
	}
}

/* For screens larger than 768px */
@media (min-width: 769px) {
	.sign-in-form {
		flex-direction: row; /* Keep the login and signup forms side by side on larger screens */
	}
}

/* Styles for resend verification button */
.resend-button {
  background-color: #f2b632;
  color: white;
  cursor: pointer;
  border: 1px solid #f2b632;
  border-radius: 20px;
  width: 90%;
  padding: 10px;
  margin: 10px 0;
}

.resend-button:hover {
  background-color: #f5c04e;
}

