.Services-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  margin-top: 90px;
}

.Services-main-content {
  display: flex;
  align-items: center;
  background-color: white;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 0.5rem;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
}

.Services-image-container {
  width: 33.333333%;
}

.Services-main-image {
  border-radius: 0.5rem;
  max-width: 100%;
  height: auto;
}

.Services-text-container {
  width: 66.666667%;
  padding-left: 1.5rem;
}

.Services-main-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.Services-main-description {
  margin-top: 0.5rem;
  color: #4b5563;
}

.Services-hero {
  text-align: center;
  margin-bottom: 3rem;
  background-color: #f0f8ff;
  padding: 3rem 1rem;
  border-radius: 0.5rem;
}

.Services-hero-title {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 1rem;
}

.Services-hero-description {
  font-size: 1.2rem;
  color: #666;
}

.Services-section-title {
  font-size: 2rem;
  color: #333;
  text-align: center;
  margin-bottom: 2rem;
}

.Services-dental-grid {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}


.Services-dental-grid .card:hover {
  transform: translateY(-5px);
}
.service-card {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 0 auto;
  max-width: 100%;
  transition: transform 0.3s, box-shadow 0.3s;
}
.service-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


@media (max-width: 980px) {
  .Services-container{
    margin-top: 5px;
  }
  .Services-main-content {
    flex-direction: column;
  }

  .Services-image-container,
  .Services-text-container {
    width: 100%;
  }
  .Services-text-container h2 {
    font-size: 60px;
  }
  .Services-text-container p{
    font-size: 40px;
  }

  .Services-image-container {
    padding-right: 0;
    margin-bottom: 1rem;
  }
  .Services-dental-grid{
    display: flex;
    flex-direction: column;
  }
  .service-card {
    flex-direction: column; /* Stack content vertically */
    text-align: center; /* Center align text */
  }
}

@media (max-width: 912px) {

  .Services-text-container h2 {
    font-size: 30px;
  }

  .Services-text-container p{
    font-size: 20px;
  }
}