/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  overflow-x: hidden; /* Prevent horizontal scroll for the whole document */
}

/* Dashboard Container */
.DashContainer {
  display: flex;
  flex-direction: row;
  width: 90%;
  min-height: 80vh;
  margin: 20px auto;
  margin-top: 100px;
  padding: 25px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

/* Sidebar Content */
.DashContent {
  width: 25%;
  min-height: 100%;
  background-color: #339999;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  border-radius: 10px 0 0 10px;
}

.DashContent h1 {
  color: #ffffff;
  font-size: 1.5em;
  margin-bottom: 25px;
}

.DashContent .button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  width: 100%;
}


.DashContent button {
  color: #ffffff;
  background-color: #4c7a80;
  border: none;
  padding: 15px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.DashContent button:hover {
  background-color: #2c5d63;
}

.DashContent button.active {
  background-color: #254d50;
}

/* Main Container */
.DashMainContainer {
  flex-grow: 1;
  padding: 25px;
  width: 75%;
  border-radius: 0 10px 10px 0;
  background-color: #ffffff;
}

/* Patients Information Table */
.PITable {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  margin-bottom: 30px;
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.PITable th, .PITable td {
  padding: 10px 5px;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
  color: #2c3e50;
  font-size: 0.9em;
  word-break: break-word;
}

.PITable th {
  background-color: #339999;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.PITable tbody tr:hover {
  background-color: #f1f2f6;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.PITable tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Appointments Table Styling */
.PIAppointmentsTableContainer {
  width: 100%;
  overflow-x: auto; /* Allow horizontal scrolling for the table container */
}

.PIAppointmentsTable {
  width: 100%;
  min-width: 800px; /* Ensure a minimum width that requires scrolling if not enough space */
  table-layout: fixed;
  border-collapse: collapse;
  margin-bottom: 30px;
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.PIAppointmentsTable th, .PIAppointmentsTable td {
  padding: 10px 5px;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
  color: #2c3e50;
  font-size: 0.9em;
  word-break: break-word;
}

.PIAppointmentsTable th {
  background-color: #339999;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.PIAppointmentsTable tbody tr:hover {
  background-color: #f1f2f6;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.PIAppointmentsTable tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Edit Appointment Section */
.PIEditSection {
  background-color: #f9f9f9;
  padding: 20px;
  margin-top: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.PIEditButtons {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.PIEditButtons .PIButton {
  flex: 1 1 calc(50% - 20px);
  padding: 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  text-align: center;
}
.PIEditButtons .PIButtonCancel {
  flex: 1 1 calc(50% - 20px);
  padding: 15px;
  background-color: #fb6868;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  text-align: center;
}

.PIEditButtons .PIButton:hover {
  background-color: #45a049;
}

/* Action Buttons for Update, Cancel, Close, etc. */
.PIActionButtons {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 20px;
  justify-content: space-evenly;
}

.PIActionButtons .PIButton {
  flex: 1 1 calc(33% - 20px);
  padding: 15px;
  border-radius: 5px;
  border: none;
  flex-wrap: nowrap;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  font-size: 1em;
  text-align: center;
}

.PIActionButtons .UpdateButton {
  background-color: #4c90ff;
  color: white;
}

.PIActionButtons .UpdateButton:hover {
  background-color: #2a6fcf;
}

.PIActionButtons .CancelButton {
  background-color: #ff4c4c;
  color: white;
}

.PIActionButtons .CancelButton:hover {
  background-color: #e63939;
}

.PIActionButtons .CloseButton {
  background-color: #6699cc;
  color: white;
}

.PIActionButtons .CloseButton:hover {
  background-color: #5577aa;
}

/* Center buttons in the button-container */
.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Center the buttons */
  flex-wrap: wrap;
  gap: 15px;
  width: 100%;
}

/* Center buttons in DashContent */
.DashContent button {
  flex: 1 1 auto; /* Allow buttons to grow and shrink */
}

/* Add this to your CSS file */
.styled-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px; /* Space between inputs */
}

.styled-popup {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Add this to your CSS file */
.ButtonContainer {
  display: flex;
  gap: 5px; /* Reduced gap between buttons */
  margin-top: 10px; /* Space above buttons */
}

.CancelButton {
  background-color: #f44336; /* Red background for cancel */
  color: white; /* White text */
  border: none; /* No border */
  padding: 10px 15px; /* Padding */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor */
}

.CancelButton:hover {
  background-color: #d32f2f; /* Darker red on hover */
}

/* Add this to your CSS file */
.PiTableDiv {
  width: 100%; /* Set the width to 100% of the parent container */
  overflow-x: auto; /* Enable horizontal scrolling */
  margin-top: 20px; /* Optional: Add some space above the table */
}

.PITable {
  min-width: 800px; /* Set a minimum width for the table to ensure it can scroll */
  width: 100%; /* Ensure the table takes the full width of the container */
  border-collapse: collapse; /* Optional: For better table styling */
}

.PITable th, .PITable td {
  padding: 10px; /* Add padding for better spacing */
  border: 1px solid #e0e0e0; /* Add borders for clarity */
  text-align: left; /* Align text to the left */
}


/* Responsive adjustments */
@media (max-width: 980px) {
  .PITable {
    min-width: 800px; /* Keep the minimum width to ensure scrolling */
    overflow-x: auto; /* Allow horizontal scrolling */
    display: block; /* Ensure table behaves as a block element to enable scrolling */
  }

  .PITable th, .PITable td {
    font-size: 1.5em; /* Increase font size for better readability */
  }

  .PIButton, .CancelButton {
    padding: 8px 10px; /* Smaller padding for buttons */
    font-size: 0.8em; /* Smaller font size for button text */
    max-width: auto; /* Set a maximum width for buttons */
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflow text */
    text-overflow: ellipsis; /* Add ellipsis for overflow text */
  }
  .styled-popup{
      font-size: 12px;
  }

  .ButtonContainer button{
    font-size: 2.2em;
    width: auto;
    max-width: none;
  }
}

/* Responsive adjustments for the edit section */
@media (max-width: 980px) {
  .DashContainer {
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    height: auto; /* Set height to auto to fit content */
  }

  .DashContent,
  .DashMainContainer {
    width: 100%;
    padding: 15px;
  }

  .DashMainContainer {
    overflow-y: auto;
  }

  .PIEditSection {
    padding: 10px;
  }

  .PIEditButtons,
  .PIActionButtons {
    flex-direction: column;
    gap: 10px;
  }

  .PITable {
    margin-right: 5px;
    overflow-x: auto; /* Allow horizontal scrolling */
  }
  .PIHideButton {
    font-size: 2em;
  }

  .PIButton {
    width: 100%;
    white-space: nowrap;
  }

  .PITable th,
  .PITable td,
  .PIAppointmentsTable th,
  .PIAppointmentsTable td {
    padding: 8px;
    font-size: 1.2em; /* Increase font size for better readability */
  }

  .PIAppointmentsTableContainer {
    overflow-x: auto; /* Allow horizontal scrolling for appointments table */
  }

  .DashContainer {
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
    height: auto;
    padding: 0;
  }

  .DashMainContainer {
    width: 100%;
  }

  .DashContent {
    width: 100%;
    align-items: center;
  }

  .DashContent h1 {
    font-size: 1.3em;
  }
  .DashContent .button-container{
    padding: 10px;
  }
  .DashContent .button-container button{
    font-size: 2em;
    padding: 30px;
  }
  .button-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }

  .DashContent button {
    margin: 0;
    padding: 12px;
  }

  .DashMainContainer {
    padding: 0;
  }

  .PITable,
  .PIAppointmentsTable,
  .patients-table {
    font-size: 1em; /* Increase font size for better readability */
    overflow-x: auto; /* Allow horizontal scrolling for tables */
    display: block; /* Ensure tables behave as block elements to enable scrolling */
  }

  .PITable th,
  .PITable td,
  .PIAppointmentsTable th,
  .PIAppointmentsTable td,
  .patients-table th,
  .patients-table td {
    padding: 10px;
    text-align: left;
    font-size: 3em; white-space: nowrap; /* Increase font size for better readability */
  }
  .PITable td button {
    padding: 8px 12px;
    font-size: 1em;
    max-width: none; /* Remove max-width to prevent text cut-off */
    white-space: nowrap; /* Prevent wrapping */
    overflow: visible; /* Allow full display of button text */
  }
  .PIContainer h1,
  .PIContainer input{
    font-size: 2.5em;
  }

  .PIAppointmentsTitle{
    font-size: 2em;
  }

}


.PIAppointmentsTitle{
  font-size: 1em;
}