/* Card.css */
.card {
  width: 100%;
  max-width: 250px; /* Maximum width of the card */
  padding: 20px;
  margin: 10px auto; /* Add margin for consistent spacing */
  border: 2px solid #ccc;
  background-color: rgb(240, 250, 248);
  border-radius: 10px;
  text-align: center;
  transition: background-color 0.3s, border-color 0.3s;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Add shadow for better separation from background */
}

.card img {
  width: 100%;
  max-width: 150px; /* Adjust max-width to ensure it fits nicely */
  height: auto;
  border-radius: 10px;
}

.card.selected {
  background-color: #7AB2B2;
  color: white;
  border-color: #7AB2B2;
}
.card p {
  font-size: 10px;
}
/* Responsive Styles */
/* Small Screens (Mobile Devices) */
@media (max-width: 980px) {
  
  .card {
    width: 700px;
    max-width: none;
    padding: 10px;
  }

  .card img {
    width: 500px; 
    max-width: none;
  }

  .card h3 {
    font-size: 40px;
  }

  .card p {
    font-size: 30px; 
  }
}

/* phone responsive */
@media (max-width: 912px) {
  .card {
    padding: 8px;
    max-width: 95%;
    margin: 10px auto; /* Keep consistent spacing */
  }

  .card img {
    max-width: 100px; /* Further reduce image size */
  }

  .card h3 {
    font-size: 26px; /* Adjust font size for very small screens */
  }

  .card p {
    font-size: 18px; /* Adjust text for readability */
  }
}
